
.env
work/
backup-*/
00_define_vars.sh
00_define_vars.txt
deploy_moneyx.sh
eks-cluster.yml
*.zip
00_define_vars.sh
cloudoneEksCluster.yml
cloudOneCredentials.sh
cloudOneCredentials.txt
cloudonec1appsecmoneyxPipeline.yml
cloudonemydvwaPipeline.yml
cloudonetroopersPipeline.yml
k8s.crt
k8s.key
overrides.yml
req.conf
.remote-sync.json
*.tmp
*.code-workspace
*.bak
