#!/bin/bash
# define your configuration variables in this file
# save it without the .sample extension
# make sure it is executable
printf '%s\n' "-------------------------------"
printf '%s\n' "     Configuring Variables     "
printf '%s\n' "-------------------------------"

# remember to run AWS configure first.  
# The scripts will pull the AWS keys and region from the AWS configure

# 1. copy this file to 00_define_vars.sh
# 2. enter your configuration variables in this file
# 3. make sure it is still executable

# changes 202111
#   the old CloudOne backend, where the authentication was done via an Accountname and a username is no longer supported
#   you must use an account on the new CloudOne backend, where you authenticate with email address
#   this environment also supports the different CloudOne regions (see C1REGION variable)

# changes 202110:
#   variable AWS_PROJECT is now replaced by C1PROJECT for interchangeability of modules with cloudOneOnAzure Project
#   new required variables (see below): C1AUTH, C1REGION  
#   updated variables: C1APIKEY
#   The script now creates the "groups" in C1CS; there is no longer a need to manually create a group and provide the TREND_AP_KEY and a TREND_AP_SECRET

# changes 202105
#   new required variables (see below): TAGKEY1, TAGVALUE1, TAGKEY2, TAGVALUE2

# changes 20210315
#   new required variables (see below): C1CS_RUNTIME

#### ---------------------------------------------------------------------------
#### ----------below this line are settings which MUST be customised  ----------
#### ---------------------------------------------------------------------------

# CloudOne Settings:
# C1REGION="the value can be one one of: us-1|in-1|gb-1|jp-1|de-1|au-1|ca-1|sg-1|trend-us-1"
export C1REGION="us-1"
# export C1APIKEY='your_CloudOne_API_Key. MUST be created in C1S (no longer in C1WS; this API key is different!)
export C1APIKEY='your_CloudOne_API_Key'
# for now keep C1CS_RUNTIME to "false".  "true" will be implemented later
export C1CS_RUNTIME="false"
# Deep Security Smart Check ActivationCode: this is your License Key for SmartCheck, the key you enter in SmartCheck when you set it up
export DSSC_AC='xx-xxxx-xxxxx-xxxxx-xxxxx-xxxxx-xxxxx'

# Script settings
# All objects created by this script will be prepended by this string
#may only contain LOWERCASE and trailing numbers
# MAY NOT CONTAIN UPPERCASE, no "-", no "_", nor any special characters.
export C1PROJECT='c1v01'  # CHANGE THIS --- MAY NOT CONTAIN UPPERCASE, no "-", no "_", nor any special characters.

# Dockerhub account information (required to do "authenticated pulls" from docker to get a higher max-pull limit)
export DOCKERHUB_USERNAME='your username of your (free) account on hub.docker.com'
export DOCKERHUB_PASSWORD='your password of your (free) account on hub.docker.com'

# Deep Security Smart Check(part1) settings (for pre-runtime scanning)
export DSSC_REGPASSWORD='Tr3ndm1cr0!'  #DO CHANGE THIS do NOT use any "\" in the passwords
export DSSC_PASSWORD='Tr3ndm1cr0!'     #DO CHANGE THIS do NOT use any "\" in the passwords

#### --------------------------------------------------------------------------------------
#### -----below this line are default settings which may be optionally customised----------
#### --------------------------------------------------------------------------------------
# set verbose output (1=verbose/debug during startup; 0=non-verbose output)
export VERBOSE=0
# The number of nodes you want your AWS Kubernetes Cluster (EKS) to have:
export AWS_EKS_NODES='2'

# Tags (you may customise these tags to your liking; both the Key and the Value)
# Other than these, one more tag is added.  That third keypair is for use by the script only
export TAGKEY1="owner"           # or use anything you like, except c1OnAws (that's an O not a zero)
export TAGVALUE1="${C9_USER}"    # or anything you like; ${C9_USER} is a predefined Cloud9 variable
export TAGKEY2="user"            # or anything you like, except c1OnAws (that's an O not a zero)
export TAGVALUE2="${C9_USER}"    # or anything you like; ${C9_USER} is a predefined Cloud9 variable

# Deep Security Smart Check) settings (for pre-runtime scanning)
export DSSC_NAMESPACE='smartcheck' #Namespace to deploy SmartCheck'
export DSSC_USERNAME='administrator'
export DSSC_TEMPPW='justatemppw'   #this temp pw will be overwritten by the DSSC_PASSWORD; it must be different from the DSSC_PASSWORD; 
export DSSC_HOST='will be generated by this script'
export DSSC_REGUSER='administrator'

####---------------------------------------------------------------------------------------
####------do not edit below this line (unless you really know what you are doing)----------
####---------------------------------------------------------------------------------------

# APPS  #those apps have been tested and work
# using distinct variables as exporting arrays in bash is still troublesome
export APP1_GIT_URL='https://github.com/cvdabbeele/c1-app-sec-moneyx.git'
export APP2_GIT_URL='https://github.com/cvdabbeele/troopers.git'
export APP3_GIT_URL='https://github.com/cvdabbeele/mydvwa.git'

#systemTAGs; do not change  (mainly used to cleanup the environment)
export TAGKEY0="c1onaws"    
export TAGVALUE0="${C1PROJECT}" 
