#enter your configuration variables in this file
#save it without the .sample extension
#make sure it is executable

printf '%s' "Defining variables... "


#### ----------below this line are settings which MUST be customised  ----------
#### ---------------------------------------------------------------------------

# Cloud One Container Security (aka Deep Security Smart Check) License (used for pre-runtime scanning)
export DSSC_AC='xx-xxxx-xxxxx-xxxxx-xxxxx-xxxxx-xxxxx'

# Cloud One Application Security settings (used for runtime protection)
export TREND_AP_KEY='your_trend_key_for_cloudOne_Application_Security'
export TREND_AP_SECRET='your_trend_secret_for_cloudOne_Application_Security'


#### ----------below this line are default settings which may be customised  ----------
#### -------------------------------------------------------------------------------------------------------

#  AWS settings
export AWS_PROJECT='cloudone01'    #may only contain lowercase and trailing numbers, but no "-", no "_", nor any special characters.
export AWS_EKS_NODES='2'

# Cloud One Container Security (aka Deep Security Smart Check) settings (for pre-runtime scanning)
export DSSC_NAMESPACE='smartcheck' #Namespace to deploy Cloud One Container Security'
export DSSC_USERNAME='administrator'
export DSSC_TEMPPW='justatemppw'   #this temp pw will be overwritten by the DSSC_PASSWORD; it must be different from the DSSC_PASSWORD
export DSSC_PASSWORD='trendmicro'   #DO CHANGE THIS
export DSSC_HOST='will be generated by this script'
export DSSC_REGUSER='administrator'
export DSSC_REGPASSWORD='trendmicro'  #DO CHANGE THIS

# APPS  #those apps have been tested and work
# using distinct variables as exporting arrays in bash is still troublesome
export APP_GIT_URL1='https://github.com/cvdabbeele/c1-app-sec-moneyx.git'
export APP_GIT_URL2='https://github.com/cvdabbeele/troopers.git'
export APP_GIT_URL3='https://github.com/cvdabbeele/mydvwa.git'


####----------do not edit below this line (unless you really know what you are doing)------
####---------------------------------------------------------------------------------------
# Generating names for Apps, Stack, Pipelines, ECR, CodeCommit repo,..."
#generate the names of the apps from the git URL
export APP1=`echo ${APP_GIT_URL1} | awk -F"/" '{print $NF}' | awk -F"." '{ print $1 }' | tr -cd '[:alnum:]'| awk '{ print tolower($1) }'`
export APP2=`echo ${APP_GIT_URL2} | awk -F"/" '{print $NF}' | awk -F"." '{ print $1 }' | tr -cd '[:alnum:]'| awk '{ print tolower($1) }'`
export APP3=`echo ${APP_GIT_URL3} | awk -F"/" '{print $NF}' | awk -F"." '{ print $1 }' | tr -cd '[:alnum:]'| awk '{ print tolower($1) }'`
